@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkshopManager.DTOs.UsedPartDto
<tr>
    <td>@Model.PartName</td>
    <td class="text-end">@Model.Quantity</td>
    <td class="text-end">@Model.UnitPrice:C</td>
    <td class="text-end">@(@Model.Quantity * @Model.UnitPrice):C</td>
    <td>
        <form asp-action="DeleteTask"
              asp-route-id="@Model.Id"
              asp-route-orderId="@Model.OrderId"
              method="post" class="d-inline">
            <button class="btn btn-sm btn-link">🗑️</button>
        </form>

    </td>
</tr>